@media screen and (max-width: 768px) {
  header,
  .faixa {
    flex-direction: column;
  }
  .faixa,
  .primeiro,
  .segundo {
    align-items: center;
  }
  .cartoes {
    padding: 0%;
    margin: 0%;
    justify-content: baseline;
    flex-wrap: wrap;
    img {
      width: 45vw;
    }
  }
  button {
    width: 23vw;
  }
}
