button {
  width: 10vw;
  height: 5vh;
  margin: 1vw;
  background-color: chocolate;
  color: antiquewhite;
  border-color: antiquewhite;
}

h2 {
  padding: 2vh;
  color: chocolate;
  text-align: center;
}

h3,
p {
  padding: 1vw;
}

.faixa {
  width: 100%;
  justify-content: space-around;
  background-color: antiquewhite;
  display: flex;
  .primeiro {
    flex-direction: column;
  }
  .segundo {
    flex-direction: column;
    .Botoes {
      display: flex;
    }
  }
}
